* {
  margin: 0;
  padding: 0;
  font-family: 'Spartan', sans-serif;
}

body nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 10px 0;
  display: flex;
  align-items: center;
  font-size: 16px;
}

body nav .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body nav .nav .brand {
  margin-right: 5px;
}

body nav .nav .brand i {
  font-size: 35px;
  color: #9a9ea2;
}

body nav .nav .nav-item {
  margin-left: 10px;
}

body nav .nav .nav-item .nav-link {
  display: inline;
  color: #312747;
  font-weight: 700;
  font-size: 0.8rem;
  padding: 15px;
  border-radius: 4px;
  text-transform: uppercase;
  transition: all 0.3s;
}

body nav .nav .nav-item .nav-link:hover {
  color: #fff;
  background-color: #312747;
}

body section {
  padding: 12rem 0 0 0;
  text-align: center;
  min-height: 100vh;
}

body section .encabezado h1 {
  font-weight: 400;
  color: #9a9ea2;
}

body section .encabezado strong {
  font-weight: bold;
}

body section .encabezado .lista {
  padding: 1rem;
  list-style: none;
}

body section .encabezado .lista li {
  display: inline-block;
  padding: 5px;
}

body section .encabezado .lista li i {
  color: #9a9ea2;
  margin: 30px 0;
  padding: 5px 15px;
  font-size: 100px;
  cursor: pointer;
  transition: all 0.3s;
}

body section .encabezado .lista li i:hover {
  color: #312747;
}

body section .encabezado .btn-1 {
  background-color: #000;
  color: #fff;
  transition: all 0.3s;
  border: 1px solid #000;
}

body section .encabezado .btn-1:hover {
  background-color: #fff;
  color: #000;
  box-sizing: border-box;
}

body section .encabezado .btn-2 {
  color: #000;
  border: 1px solid #000;
  transition: all 0.3s;
}

body section .encabezado .btn-2:hover {
  background-color: #000;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */