@import '_variables';
@import '_funciones';
* {
	margin: 0;
	padding: 0;
	font-family: 'Spartan', sans-serif;
}

body {
	nav {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 70px;
		padding: 10px 0;
		display: flex;
		align-items: center;
		font-size: 16px;
		.nav {
			display: flex;
			align-items: center;
			justify-content: space-between;
			.brand {
				margin-right: 5px;
				i {
					font-size: 35px;
					color: $gris;
				}
			}
			.nav-item {
				margin-left: 10px;
				.nav-link {
					display: inline;
					color: $morado;
					font-weight: 700;
					font-size: 0.8rem;
					padding: 15px;
					border-radius: 4px;
					text-transform: uppercase;
					@include transition();
					&:hover {
						color: $blanco;
						background-color: $morado;
					}
				}
			}
		}
	}
	section {
		// background: linear-gradient(to left, #2f0743, #41295a);
		padding: 12rem 0 0 0;
		text-align: center;
		min-height: 100vh;
		.encabezado {
			h1 {
				font-weight: 400;
				color: $gris;
			}
			strong {
				font-weight: bold;
			}
			.lista {
				padding: 1rem;
				list-style: none;
				li {
					display: inline-block;
					padding: 5px;
					i {
						color: $gris;
						margin: 30px 0;
						padding: 5px 15px;
						font-size: 100px;
						cursor: pointer;
						@include transition();
						&:hover {
							color: $morado;
						}
					}
				}
			}
			.btn-1 {
				background-color: $negro;
				color: $blanco;
				@include transition();
				border: 1px solid $negro;
				&:hover {
					background-color: $blanco;
					color: $negro;
					box-sizing: border-box;
				}
			}
			.btn-2 {
				color: $negro;
				border: 1px solid $negro;
				@include transition();
				&:hover {
					background-color: $negro;
					color: $blanco;
				}
			}
		}
	}
}
